<configuration>
    <appSettings>
        <add key="pythonpath" value="D:\home\site\wwwroot\env\Lib\site-packages" />
        <add key="DJANGO_SETTINGS_MODULE" value="SlalomTestApp.settings" />   
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python_FastCGI"
                path="handler.fcgi"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="D:\Python34\python.exe|D:\Python34\Scripts\wfastcgi.py"
                resourceType="Either"
                requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />

        </handlers>
        <rewrite>
            <rules>
                <rule name="Django Application" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>